/* CSS Variable */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* CSS RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* END OF CSS RESET */

/* HTML Body */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

/* General Styles */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration: none;
  margin-right: 76px;
}

.logo-link > span {
  font-size: 18px;
}

.logo {
  color: var(--iris);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}

.benefits .description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}

.studio {
  color: var(--navyblue);
}

.contacts-menu .item {
  color: var(--slate);
  line-height: 1.14;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.bg-hero {
  background-color: var(--navyblue);
}

.nav-menu .page {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
}

.button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: transparent;
  font-size: 16px;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: auto;
}

.button.primary {
  color: var(--white);
  background-color: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

.button.filter {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
}

.project {
  text-decoration: none;
}

/* End of General Styles */

/* Header Section for both index and portfolio html */

.page-header {
  height: 72px;
  border-bottom: 1px solid var(--cornflower);
  padding: 25.5px 156px;
}

.menu {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-menu {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

/* Hero Section */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--white);
  text-align: center;
  margin-bottom: 48px;
}

/* Section 1 */

.benefits {
  display: flex;
  align-items: center;
  gap: 24px;
}

.title {
  margin-bottom: 5px;
}

/* Section 2 */

.what-we-do {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Section 3 */

.team {
  display: flex;
  align-items: center;
  gap: 24px;
}
.bg-team {
  background-color: var(--cloud);
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

/* Footer for both index and portfolio html*/

.page-footer {
  padding: 100px 156px;
}
.page-footer.bg-footer {
  background-color: var(--navyblue);
}

.studio-footer {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
  margin-top: 17px;
}

/* Filter Section */

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
  gap: 24px;
}

/* Project List Section */

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
